body {
    font-family: SansSerif;
    font-weight: bolder;
}

.welcomebackground1 {
    background-image: url("images/backgroundcheck.jpg");
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}


.navbar {
    padding:.6rem 1rem;
}


.headshot-marissa {
    max-width: 98%;
    border-radius: 75%;
    padding: 2px;
    border: 4px solid #ffdfb2;
}

.bg-dark-subtle {
    background-color: #fcdea847 !important;
}

