body {
    font-family: SansSerif;
}


.navbar {
    background-color: #ffdfb2;
    padding:.6rem 1rem;
}


.headshot-marissa {
    max-width: 98%;
    border-radius: 75%;
    padding: 2px;
    border: 4px solid #ffdfb2;
}

